check-in-papi/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
  xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
  xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
  xmlns:http="http://www.mulesoft.org/schema/mule/http"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <flow name="api-main">
    <http:listener
      config-ref="apiHttpListenerConfig"
      path="/api/${api.majorVersion}/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
    <apikit:router config-ref="apiConfig" />
    <error-handler ref="api-error-handler"></error-handler>
  </flow>
  <flow name="api-console">
    <http:listener
      config-ref="apiHttpListenerConfig"
      path="/console/${api.majorVersion}/*">
      <http:response statusCode="#[vars.httpStatus default 200]">
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.httpStatus default 500]">
        <http:body><![CDATA[#[payload]]]></http:body>
        <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
      </http:error-response>
    </http:listener>
    <apikit:console config-ref="apiConfig" />
    <error-handler ref="api-console-error-handler" />
  </flow>
  <flow name="put:\tickets\(PNR)\checkin:application\json:apiConfig">
    <ee:transform>
    
      <ee:variables>
        <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref doc:name="check-in-by-pnr" doc:id="2954ed01-0d2e-4116-bc20-1ead02024dbe" name="check-in-by-pnr" />
  </flow>
  <flow name="put:\tickets\(PNR)\paymentApproval:application\json:apiConfig">
    <ee:transform>
      <ee:variables>
        <ee:set-variable variableName="PNR">attributes.uriParams.'PNR'</ee:set-variable>
      </ee:variables>
    </ee:transform>
    <flow-ref doc:name="payment-approval-by-pnr" doc:id="8a4d38f1-b2e0-409e-84c2-d2cbdff5846a" name="payment-approval-by-pnr" />
  </flow>
</mule>
